extends layout
block css
  link(rel="stylesheet", href="/stylesheets/favorite.css")
block content
  include nav.pug
  br
  br
  #app
    .row
      .container
        .col.s12.center
          h3 SOURCES
          .row
            .col.s12.m6(v-for="item in sources")
              .card
                .card-content
                  .row
                    .col.s1.m1
                      a.btn-floating.btn-small.waves-effect.waves-light.red(v-on:click="deleteSource(item)")
                        i.material-icons delete
                    .col.s10.m10
                      h5.title {{item.name}}
                      label.sub200 {{item.country | upperCase}} | 
                      label.sub300 {{item.url}}


      .col.s12.center
        h3 NEWS
        .row
          .container
            .col.s12.m6(v-for="item in news")
              .card
                .card-image(style="max-width: 100%;")
                  img.img(:src="item.urlToImage")
                .card-stacked
                  .card-content.content
                    p {{item.title}}
                    label {{item.source.name}}
                  .card-action.action
                    .row
                      .col.s4
                        span.blue-text.actionBtn(v-on:click="share(item)",title="Share on Facebook") SHARE
                      .col.s4
                        a.green-text.actionBtn(:href='item.url') LINK
                      .col.s4
                        span.red-text.actionBtn(v-on:click="deleteNews(item)") DELETE


block script
  script.
      $(document).ready(function(){
        M.toast({html: 'Wait a minute, loading all information', classes: 'rounded'})
        app.loadAllSoruces();
        app.loadAllNews();
      });
      var app = new Vue({
        el: '#app',
        data: {
          news:{},
          sources:{},
        },
        filters:{
          upperCase:function(value){
            if(value != undefined){
              return value.toUpperCase();
            }
          }
        },
        methods:{
          loadAllSoruces:function(){ // THIS METHOD LOAD ALL FAVORITE SOURCES
            var user = "#{user}"
            var allSource = [];
            var sources = firebase.database().ref('source/' + user);
                sources.on('value', function(data) {
                     data.forEach(function(a){
                        var item = a.val();
                        var aux = {
                          key:a.key,
                          category:item.category,
                          country:item.country,
                          description:item.description,
                          id:item.id,
                          language:item.language,
                          name:item.name,
                          url:item.url,
                        }
                        allSource.push(aux);
                      });
                      app.sources = allSource;
                });
          },
          loadAllNews:function(){
              var user = "#{user}"
              var allNews = [];
              var news = firebase.database().ref('news/' + user);
                  news.on('value', function(data) {
                      data.forEach(function(a){
                        var item = a.val();
                        var aux = {
                          key:a.key,
                          category:item.category,
                          country:item.country,
                          description:item.description,
                          id:item.id,
                          language:item.language,
                          name:item.name,
                          urlToImage:item.urlToImage,
                          title:item.title,
                          url:item.url,
                          source:item.source,
                        }
                        allNews.push(aux);
                      });
                      app.news = allNews;
                  });
          },
          deleteSource:function(item){
            var user = "#{user}"
            var sources = firebase.database().ref("source/"+user+"/"+item.key);
                sources.remove();
            app.loadAllSoruces()
          },
          deleteNews:function(item){
            var user = "#{user}"
            console.log(item.key);
            var sources = firebase.database().ref("news/"+user+"/"+item.key);
                sources.remove();
              app.loadAllNews()
          },
          share:function(item){
            var url = "https://www.facebook.com/sharer/sharer.php?u="+item.url;
            console.log(url);
            location.href = url
          }
        }
      });


    