doctype html
html
  head
    title= title
    link(rel="shortcut icon" href="/img/fav.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block css


  body(style="padding:0px")
    block content


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
  script(src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js")
  script(src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js")
  script(src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js")
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="https://unpkg.com/axios/dist/axios.min.js")
  script.
    //- ---------------------- FIREBASE ----------------------
    //- ---------------------- FIREBASE ----------------------
    var config = {
      apiKey: "#{key}",
      authDomain: "brounietest.firebaseapp.com",
      databaseURL: "https://brounietest.firebaseio.com",
      projectId: "brounietest",
      storageBucket: "brounietest.appspot.com",
      messagingSenderId: "#{id}"
    };
    firebase.initializeApp(config);
    //- ---------------------- FIREBASE ----------------------
    //- ---------------------- FIREBASE ----------------------

  block script

