nav.black
  .nav-wrapper
    a.brand-logo BROUNIE
    a.sidenav-trigger(href='#', data-target='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down
      li
        a(href='sass.html') NEWS
      li
        a(href='badges.html') PROFILE
ul#mobile-demo.sidenav
  li
    a(href='sass.html') NEWS
  li
    a(href='badges.html') PROFILE
