nav.black
  .nav-wrapper
    img.brand-logo(src="/img/logo.png",height="64px")
    a.sidenav-trigger(href='#', data-target='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down
      li
        a(href='/home') NEWS
      li
        a(href='/favorites') FAVORITE NEWS
      li
        a(href='/profile') PROFILE
      li
        a(href='/logout') LOGOUT
ul#mobile-demo.sidenav
  li
    a(href='/home') NEWS
  li
    a(href='/favorites') FAVORITE NEWS
  li
    a(href='/profile') PROFILE
  li
    a(href='/logout') LOGOUT
