extends layout

block content
  include nav.pug
  br
  br
  .row.center
    .col.s12
      h3 Brounie
    .col.s12
      p We Make Apps
    .col.s12
      label This is just a test, this project does not have any value
    .col.s12
      label Aldo Rodrigo | 18/Dec/2018
  .row
    .container
      .col.s12.m6.offset-m3
        .card
          .card-image
            -var url = img
            img(src=url, style="height: 365px;")
            span.card-title= name.toUpperCase()
          .card-content(style="height: 100px;")
            label EMAIL:
            strong #{email}
            br
            label ID-USER:
            strong  #{id}



block script
  script.
    $(document).ready(function(){
      $('.sidenav').sidenav();      
    });

    